body{
    color: white;
    font-family: 15px/1.5 "Roboto",Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #e9edc9;
}

#content{ /*for all screens*/
    display: grid;
    grid-template-columns: repeat(autofill, minmax(4, 1fr));
    grid-auto-rows: minmax(100px, auto);
    max-width: 960px;
    margin: 0 auto;
    grid-gap: 0px;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "section section section section"
    "section section section section"
    "footer footer footer footer";
}

header{
    text-align: center;
    grid-area: header;
    border: black 2px solid;
    border-radius:8px;
    border-style: ridge;
    padding: 15px; 
    padding-top: 0px;
    background: #faedcd;
}

header #branding{
    float: center;
    margin:0;
    color: #212121;
    font-size: 25px;
}

p{
    font-size: 20px;
}

nav{
    grid-area: nav;
    text-align: center;
    /* border: black 2px solid; */
    border-radius:8px;
    padding: 20px; 
    background: #333333;
}

nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav li{
    display: inline;
    padding: 0 20px 25px 0px;
    font-size: 25px;
}

nav .current a{
    color: #faedcd;
    font-weight: bold;
}

nav a:hover{
    color: #faedcd;
    font-weight: bold;
}

section{
    grid-area: section;
    border-radius:8px;
    border-bottom: white 2px solid;
    padding: 20px; 
    background: #fec5bb;
    text-align: center;
    line-height: 1.3;
}

footer {
    text-align: center;
    grid-area: footer;
    border-bottom: none;
    padding: 0px; 
    background: #e9edc9;
}

.container{
    display: block;
    width: 100%;
}
.field{
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
}


secction ul{
    margin: 0;
    padding: 0;
}

section li *{
    float: left;
}


section li, section h3{
    clear: both;
    list-style: none;
}

@media only screen and (max-width: 500px){
    button {
        background: none;
        border: 1px;
        color: black;
        font-size: 15px;
        width: 60px;
        margin: 10px 0 0;
        cursor: pointer;
        float: center;
    }

    .edit, .delete {
        margin-left: 70px;;
    }
}

@media only screen and (min-width: 500px){
    button {
        background: none;
        border: 1px;
        color: black;
        font-size: 15px;
        width: 60px;
        margin: 10px 0 0;
        cursor: pointer;
        float: left;
    }

}


button:hover{
    color: #333;
}

/*Header*/
h3, label[for='new-task']{
    color: black;
    font-weight: bolder;
    font-size: 15px;
    border-bottom: 2px solid black;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}
input[type="text"]{
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid black;
    background: white;
    border-radius: 3px;
    color: black;
}

/*New Task*/
label[for="new-task"]{
    display: block;
    margin: 0 0 20px;
}
input#new-task {
    /* float: left; */
    width: 318px;
    padding: 10px 0;
    margin: 0 30px;
    
}

p > button:hover {
    color: cyan;
}

/*Task List*/
section li {
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

section li > input[type="checkbox"]{
    margin: 0 10px;
    position: relative;
    top: 15px;
}

section li > label{
    font-size: 18px;
    line-height: 40px;
    width: 240px;
    padding: 0 0 0 10px;
}

li > input[type="text"]{
    width: 230px;
}

li > .delete:hover{
    color: white;
}

/*Completed*/
#completed-tasks label{
    text-decoration: line-through;
}

#completed-tasks{
    padding-bottom: 20px;
}

/*edit mode*/
ul li input[type="text"]{
    display: none;
}

ul li.editMode input[type="text"]{
    display: block;
}

ul li.editMode label {
    display: none;
}

ul li.editMode .edit{
    color: bisque;
}
